/*
  Media Queries
  0-700px: Phone
  700px-1400px: Tablet
  1400px+: Desktop

  breakpoint argument choices:
    - phone
    - tablet
    - desktop

    also 1em = 16px
 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translateX(0px); } }

@keyframes arrowDown {
  0% {
    top: 5rem; }
  50% {
    top: 8rem; }
  100% {
    top: 5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #161A1D; }

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #FFFFFF;
  margin-bottom: 1rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    transition: all .2s ease-in-out;
    animation: moveInLeft 2s ease-out;
    text-transform: uppercase; }
    .heading-primary--main:hover {
      transform: scale(1.3) skewY(-3deg);
      color: #5d2036;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
      background-color: white; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    transition: all .2s ease-in-out;
    animation: moveInRight 2s ease-out; }
    .heading-primary--sub:hover {
      transform: scale(1.1) skewY(3deg);
      color: #5d2036;
      background-color: white;
      text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2); }

.heading-secondary {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1) skewY(-3deg);
    color: #B1063A;
    text-shadow: 0.5rem 1rem 2rem rgba(11, 9, 10, 0.2);
    background-color: white;
    border-radius: 2rem;
    letter-spacing: 1.1rem; }
    .heading-secondary:hover .underline {
      border-bottom: 0; }

.underline {
  transition: all .1s;
  padding: 1rem 8rem;
  display: inline-block;
  margin-top: 0;
  border-bottom: .2rem solid white; }
  @media (max-width: 43.75em) {
    .underline {
      padding: 1rem 2rem; } }
  .underline:hover {
    border-bottom: 0; }

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    padding-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 12rem !important; }

.down-arrow {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(80rem);
  opacity: 50%; }
  @media (max-width: 43.75em) {
    .down-arrow {
      transform: translateY(55rem); } }
  .down-arrow::after {
    content: '';
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    transform: rotate(45deg);
    animation: arrowDown 3s infinite ease; }

.button {
  text-align: center; }
  .button__image {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    transition: all .2s ease-in-out; }
    .button__image:hover {
      transform: scale(1.25); }

.card {
  height: 50rem;
  width: 100%;
  transition: all .2s;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(11, 9, 10, 0.15);
  background-color: #161A1D;
  position: relative; }
  .card:hover {
    box-shadow: 0 1.5rem 4rem rgba(207, 45, 93, 0.25);
    transform: scale(1.07); }
    @media (max-width: 43.75em) {
      .card:hover {
        transform: scale(1);
        box-shadow: 0 0 0; } }
  .card__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url("../img/imran-image.jpg");
    background-position: 100% 68%;
    border-radius: 3rem; }
    @media (max-width: 43.75em) {
      .card__image {
        height: 80%;
        margin: 0 2rem;
        background-position: 100% 50%; } }
  .card__text {
    color: #FFFFFF; }
    @media (max-width: 43.75em) {
      .card__text {
        margin: 0 2rem;
        text-align: center; } }

.block {
  text-align: center; }

.project {
  display: inline-block; }
  .project__square {
    width: 30rem;
    height: 30rem;
    margin: .22rem 0;
    position: relative;
    border: #89062D solid .3rem;
    transition: .3s ease-out; }
    .project__square:hover {
      transform: scale(1.05);
      z-index: 5; }
  .project__image {
    height: 30rem;
    width: 30rem; }
  .project:hover .project__image {
    filter: blur(3px) brightness(30%); }
  .project__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #B1063A;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .project:hover .project__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.skills-box {
  background-color: transparent;
  padding: 10rem 0;
  position: relative;
  transition: all .2s;
  margin: 2rem 0;
  color: white; }
  .skills-box:hover {
    transform: scale(1.075); }
    .skills-box:hover .skills-box__icon {
      height: 22rem; }
      @media (max-width: 43.75em) {
        .skills-box:hover .skills-box__icon {
          height: 13rem; } }
    .skills-box:hover .skills-box__text {
      transition: all .3s;
      font-size: 3.5rem;
      color: #B1063A;
      font-weight: 500;
      background-color: white;
      padding: 0 2rem;
      border-radius: 2rem; }
      @media (max-width: 43.75em) {
        .skills-box:hover .skills-box__text {
          font-size: 2.5rem;
          padding: 0 1.5rem; } }
  .skills-box__icon {
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); }
    @media (max-width: 43.75em) {
      .skills-box__icon {
        height: 10rem; } }
    @media (max-width: 87.5em) {
      .skills-box__icon {
        height: 12rem; } }
  .skills-box__text {
    margin-top: 2rem;
    color: rgba(245, 243, 244, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .2rem; }
    @media (max-width: 43.75em) {
      .skills-box__text {
        font-size: 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (max-width: 43.75em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media (max-width: 43.75em) {
      .row .col-1-of-4 {
        width: 100%; } }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) + ((100% - 6rem) / 2) + 6rem); }

.header {
  height: 96vh;
  background-image: url("../img/background-cover-2.jpg");
  background-size: cover;
  padding: 0;
  z-index: 0; }
  @media (max-width: 43.75em) {
    .header {
      height: 100vh; } }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  text-align: center; }
  .navigation__nav {
    width: 100%;
    height: 6vh;
    background-color: #161A1D;
    bottom: 0;
    display: inline-block;
    text-align: center; }
  .navigation__list {
    display: inline-block; }
  .navigation__link, .navigation:link, .navigation:visited {
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem; }
    .navigation__link:hover, .navigation:link:hover, .navigation:visited:hover {
      color: #B1063A;
      background-color: #0B090A; }

.paragraph {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  background-color: darkgrey;
  text-align: center; }

.section {
  color: #ffffff;
  height: 75vh;
  margin: 0; }

h2 {
  margin: 0;
  padding: 0; }

.skills {
  display: block;
  padding: 20rem 0;
  background-color: rgba(11, 9, 10, 0.2);
  background-image: linear-gradient(to right, rgba(207, 45, 93, 0.5), rgba(137, 6, 45, 0.5)), url(../img/skills-cover.jpg);
  background-size: cover;
  margin-top: 30rem;
  transform: skewY(-7deg); }
  .skills > * {
    transform: skewY(7deg); }

.about-us {
  padding: 10rem 0 0 0; }

.projects {
  padding: 15rem 0 60rem 0; }
